<%# This file is the main building hub for html files %>
<%# Each page should have three params: mainContent, pagetitle and route %>
<%# The menus are used to setup the nav, (see header and footer partials) %>

<%
  var pageParams = {pageTitle, route};
  pageParams.menus = [
    ["Welcome", "index", "Home"],
    ["About Us", "about", "About Us"],
    ["What is Goalball", "sport", "Goalball"],
    ["Contact Us", "contact", "Contact"]
  ];
%>

<%- include("./head.ejs", pageParams); %>

<body>
<%- include('./sprite-map.ejs'); %>
<%- include('./header.ejs', pageParams); %>
<%- mainContent %>
<%- include('./footer.ejs', pageParams); %>
</body>

</html>
